.navbar {
  background-color: #F0873B !important;
}

#navbar > ul.navbar-nav > li.nav-item a:hover {
  background-color: #F0873B !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
  background-color: #F0873B !important;
  color: #fff;
}

.navbar-dark input[type="search"] {
  background-color: #fff !important;
  color: #444 !important;
}

nav .text-muted {
  color: #d8d8d8 !important;
}

a {
  color: #F0873B;
}

a:hover {
  color: #b6652b;
}

button.btn.btn-primary.btn-copy-ex {
  background-color: #F0873B;
  border-color: #F0873B;
}

.app-preview {
  margin: 1.5em 0.75em;
  padding: 0.25em;
  box-shadow:
    0 3.9px 4.6px rgba(0, 0, 0, 0.08),
    0 12.3px 8.4px rgba(0, 0, 0, 0.056),
    0 18.8px 19.2px rgba(0, 0, 0, 0.037),
    0 22px 40px rgba(0, 0, 0, 0.019);
}
