body {
  background: #fcd73d22;
  font-family: "Maven Pro", sans-serif;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  padding-top: 1em;
  margin: 0;
}
.section.level2.footer * {
  text-align: center;
}
.footer h2 {
  display: none;
}
.footer a {
  color: white;
  text-decoration: underline;
}
.section.footer img {
  width: 150px !important;
  margin: 1em;
  margin-bottom: 1em;
}
h2, .subheader {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}
.main-container {
  max-width: 100%;
  padding: 0;
}
.custom {
  background-color: rgb(52, 52, 52);
}
.section.level2 {
  text-align: center;
  padding: 1em 0;
}
.section.level2 > div, .section.level2 > p, .section.level2 > pre,
.section.level2 > ol, .section.level2 > ul, .section.level2 > h2 {
  text-align: left;
  margin: 1em auto;
  width: 50%;
  max-width: 940px;
}
.section.level1.footer * {
  text-align: center;
}
.darkslide {
  background-color: #15354a;
  color: #fcd73d;
}
.footer {
  background-color: #15354a;
  color: white;
  padding-bottom: 2em;
}
.darkslide a {
  color: white;
}
.firebrick {
  background-color: #ff364a;
  color: white;
}
.firebrick a{
  color: #fcd73d;
}
.darkorange {
  background-color: #fcd73d;
  color: #343434;
}
.logo img {
  width: 100px !important;
}
