body {
  background: oldlace;
  font-family: "Lato", sans-serif;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  padding-top: 1em;
  margin: 0;
}
.footer h1 {
  font-size: 50px;
}
.footer a {
  color: white;
  text-decoration: underline;
}
.firebrick a {
  color: white;
  text-decoration: underline;
}
.section.footer img {
  width: 150px !important;
  margin: 1em;
  margin-bottom: 1em;
}
.subheader {
  text-align: center;
}
h2, .subheader {
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.main-container {
  max-width: 100%;
  padding: 0;
}
.custom {
  background-color: rgb(52, 52, 52);
}
.section.level2 h2,
.section.level2 li,
.section.level2 p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.section.level2 {
  text-align: left;
  padding: 1em 25%;
}
.section.level2 > p,
.section.level2 > h2,
.section.level2 > div {
  text-align: left;
  margin: 1em 0;
  max-width: 940px;
}
@media (max-width: 1440px) {
  h1 {
    font-size: 50px;
  }
  .section.level2 {
    padding: 1em 12%;
  }
}

.section.level1.footer > p {
  text-align: center;
}
.darkslide {
  background-color: #343434;
  color: darkorange;
}
.footer {
  background-color: #343434;
  color: white;
  padding-bottom: 2em;
  text-align: center;
}
.darkslide a {
  color: white;
}
.firebrick {
  background-color: firebrick;
  color: white;
}
.darkorange {
  background-color: darkorange;
  color: #343434;
}
.logo img {
  width: 100px !important;
}

.section .demo {
  color: rgba(0,0,0,.87);;
}
